.sauce-container {
  padding: 20px;
  display: flex;
  img {
    height: 60vh;
    flex: 1 1;
    object-fit: contain;
    width: 50%;
  }
}

.sauce-info {
  padding: 40px 0 40px 40px;
  flex: 1 1;
  width: 50%;
  h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
  p {
    margin: 0 0 20px 0;
  }
}

.manufacturer {
  margin: 0 0 20px 0;
  font-weight: 500;
}

.sauce-name {
  margin: 0 0 10px 0;
}

.like-buttons {
  display: flex;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes,
.dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  transform: scaleX(-1) translateY(5px);
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

.control-buttons {
  button {
    margin: 20px 15px 0 0;
  }
}
